@use "../../styles/variables.module.scss" as v;

.my_raffle_card {
  width: 350px;
  border: 3px solid v.$morado;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.first_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.raffle_title {
  font-size: 16px;
  width: calc(100% - 30px);
}

.options_icon_container {
  background-color: v.$violeta;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: v.$morado;
  }
}

.options_icon {
  height: 20px;
  width: 20px;
}

.raffle_id {
  font-size: 12px;
  align-self: flex-start;
}

.raffle_image {
  max-width: 100%;
  max-height: 200px;
  margin: 15px 0;
}

.raffle_image_icon {
  width: 200px;
  height: 200px;
}

.raffle_description {
  font-size: 13px;
  margin-bottom: 15px;
}

.raffle_details {
  margin-bottom: 15px;
}

.single_detail {
  font-weight: 700;
}

.ticket_price {
  margin-bottom: 15px;
}

.tickets_amount_title {
  font-weight: 700;
}

.tickets_amount {
  margin-bottom: 5px;
}

.tickets_info_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.tickets_info_sub_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raffle_state {
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.finished {
  background-color: v.$violeta;
}
.canceled {
  background-color: v.$rojo;
}
.progress {
  background-color: v.$amarillo;
}

.raffle_winner_title {
  font-size: 18px;
  font-weight: 700;
}

.raffle_winner_number {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.contact_span {
  font-weight: 600;
  margin-bottom: 10px;
}

.contact_number {
  font-weight: 500;
}

.buttons_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.go_to_raffle_details {
  background-color: v.$violeta;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.cancel_raffle {
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: v.$rojo;
  padding: 5px 0;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

.share_list {
  background-color: v.$violeta;
  border: 2px solid black;
  position: absolute;
  right: 10px;
  top: 50px;
}

.list_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: v.$morado;
  }
}

.item_icon {
  width: 22px;
  height: 22px;
}

.item_text {
  color: white;
  font-weight: 600;
  font-size: 18px;
}
