@use "../../styles/colors.scss" as c;

@keyframes showMenu {
  from {
    width: 40px;
  }

  to {
    width: 250px;
  }
}

@keyframes hideMenu {
  from {
    width: 250px;
  }

  to {
    width: 40px;
  }
}

.lateral_nav_bar {
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: sticky;
  animation-name: showMenu;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  top: 0;
  background-color: c.$secondaryBackgroundColor;
  color: c.$fontColor;
}

.lateral_nav_bar_hidden {
  padding: 5px;
  animation-name: hideMenu;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  width: 40px;
  border-right: none;
}

.title_container {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 15px;
  overflow: hidden;
  width: 100%;
}

.title_logo {
  max-width: 65px;
  max-height: 65px;
  object-fit: cover;
}

.text_logo {
  width: 110px;
}

.title_logo_small {
  width: 30px;
  margin-bottom: 30px;
}

.user_data_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  overflow: hidden;
}

.company_name {
  font-size: 20px;
  font-weight: 600;
  height: 30px;
}

.user_name {
  font-size: 20px;
  height: 30px;
}

.buttons_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  height: 30px;
  min-height: 26px;
  padding: 0 10px;
  border-radius: 3px;

  &:hover {
    background-color: c.$mainColor;
    color: c.$secondaryColor;
  }
}

.button_on_hide {
  justify-content: center;
  padding: 0;
}

.button_icon {
  max-width: 20px;
  max-height: 20px;
}

.button_text {
  font-size: 17px;
  font-weight: 500;
}

.float_button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  right: -20px;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  rotate: 180deg;
  transform: translateY(-50%) rotate(180deg);
  transition: transform 0.3s ease;
  background-color: c.$mainColor;
}

.float_button_hide {
  rotate: 180deg;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  top: 25px;
}

.version {
  justify-self: end;
  width: 80%;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  font-size: 14px;
}

.button_selected {
  background-color: c.$borderColor;
  color: c.$secondaryColor;
}
