.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

.labelText {
  font-size: 0.95rem;
}

.error {
  font-size: 0.85rem;
}
