$mainColor: #0057b7;
$secondaryColor: #0d1117;
$fontColor: #f0f8ff;
$borderColor: #99ccff;
$mainHover: #3c3c3c;
$secondaryBackgroundColor: #1f2635;
$modalBackgroundColor: #68686899;
$cardBackgroundColor: #272727;
$rejectedColor: #83182c;
$processColor: #e6db74;
$finishedColor: #a1dd2e;
