/* Colores */
$blanco-oscuro: #f3f4f6;
$negro-azulado: #374151;
$violeta: #6d28d9;
$blanco-puro: #fff;
$morado: #5827a4;
$amarillo: #f59e0b;
$naranja: #e06900;
$gris-azulado: #94a3b8;
$rojo: #ef4444;
$negro-puro: #000;
$verde: rgb(188, 255, 188);
