@use "../../styles/variables.module.scss" as v;

.my_raffles {
  min-height: calc(100vh - 350px);
  background-color: aquamarine;
}

.my_raffles_empty {
  min-height: calc(100vh - 350px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.empty_logo {
  width: 200px;
}

.empty_subtitle {
  text-align: center;
  margin: 0 20px;
}

.my_raffles_list {
  display: flex;
  background-color: azure;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
