.singupVerification {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.warning {
  font-size: 0.875rem;
  text-align: center;
}
