@use "../../styles/colors.scss" as c;

.admin_results {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* -------------------------------------------------------- */

.last_results_container {
  border: 3px solid c.$borderColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.table_container {
  width: 100%;
  overflow-x: auto;
}

.results_table {
  border-collapse: collapse;
  width: 100%;
}

.thead {
  background-color: c.$secondaryBackgroundColor;
}

.header_th {
  border: solid 1px c.$borderColor;
  width: 150px;
  padding: 5px 10px;
}

.body_td {
  border: solid 1px c.$borderColor;
  width: 150px;
  padding: 1px 10px;
}
