@use "../../styles/colors.scss" as c;

.admin_results {
  background-color: aqua;
}

.record_result_container {
  border: 3px solid c.$borderColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.draw_options_container {
}

.date_picker_container {
}

.input_label {
}

.date_picker {
}

.lottery_selector_container {
}

.lottery_selector {
}

.winner_number_container {
}

.winner_number_inputs_container {
}

.winner_number_input {
}

.last_results_container {
}

.correct_result_container {
}
