@use "../../styles/colors.scss" as c;
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.container {
  background-color: c.$mainColor;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.title {
  font-family: "Concert One", cursive;
  font-size: 50px;
}

.buttons_container {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: c.$secondaryBackgroundColor;
  font-size: 20px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;

  @media (max-width: 770px) {
    display: none;
  }

  &:hover {
    background-color: c.$secondaryColor;
    border: 1px solid c.$borderColor;
  }
}

.button_session_active {
  background-color: c.$secondaryBackgroundColor;
  font-size: 20px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;

  @media (max-width: 770px) {
    display: none;
  }

  &:hover {
    background-color: c.$secondaryColor;
    border: 1px solid c.$borderColor;
  }
}

.theme_button {
  cursor: pointer;
  height: 50%;

  @media (max-width: 770px) {
    display: none;
  }
}

.logo {
  height: 80%;
}

.burger_container {
  height: 50px;
  width: 50px;
  background-color: c.$secondaryBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  display: none;

  @media (max-width: 770px) {
    display: flex;
  }

  &:hover {
    background-color: c.$secondaryColor;
  }
}

.burger {
  height: 35px;
  width: 35px;
}

.burger_active {
  background-color: c.$secondaryColor;
}
