@use "../../styles/colors.scss" as c;

.register_code_component {
  min-height: calc(100vh - 270px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  justify-content: space-between;
  background-color: c.$secondaryColor;
}

.main_message {
  max-width: 80%;
  width: 600px;
  text-align: center;
  margin-bottom: 20px;
}

.form_container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid c.$borderColor;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

.input_code {
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid c.$borderColor;
  background-color: c.$secondaryColor;
}

.verify_button {
  background-color: c.$mainColor;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  height: 37px;
  border: none;

  &:hover {
    background-color: c.$secondaryBackgroundColor;
    border: 1px solid c.$borderColor;
  }
}

.info_text {
  text-align: center;
  font-size: 14px;
  max-width: 80%;
  width: 600px;
}
