@use "../../styles/colors.scss" as c;

.user_nav_modal {
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background-color: c.$cardBackgroundColor;
  border-top: 1px c.$borderColor solid;
  animation-name: showList;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  overflow-y: hidden;
  display: flex;
}

.hide_menu {
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background-color: c.$cardBackgroundColor;
  border-top: 1px c.$mainHover solid;
  animation-name: hideList;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  overflow-y: hidden;
  display: flex;
}

@keyframes showList {
  from {
    display: none;
    height: 0;
  }

  to {
    height: 281px;
  }
}

@keyframes hideList {
  from {
    height: 281px;
  }

  to {
    height: 0;
    display: none;
  }
}

.user_nav_modal_button {
  min-height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  background-color: c.$mainColor;
  cursor: pointer;
  border-top: 2px solid c.$mainHover;
  border-left: 2px solid c.$mainHover;
  border-bottom: 2px solid c.$borderColor;
  border-right: 2px solid c.$borderColor;
}

.menu_button_active {
  border-top: 2px solid c.$borderColor;
  border-left: 2px solid c.$borderColor;
  border-bottom: 2px solid c.$mainHover;
  border-right: 2px solid c.$mainHover;
  background-color: c.$secondaryBackgroundColor;
}
