@use "../../styles/colors.scss" as c;

.log_in_form_component {
  min-height: calc(100vh - 270px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: c.$secondaryColor;
}

.logo {
  width: 350px;
  margin: 15px;
}

.title {
  font-size: 30px;
  margin-bottom: 15px;
}

.form {
  border: 1px solid c.$borderColor;
  min-width: 370px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  border-radius: 15px;
  margin-bottom: 15px;
}

.label {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.input {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid c.$borderColor;
  background-color: c.$secondaryColor;
}

.submit_button {
  background-color: c.$mainColor;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  height: 34px;

  &:hover {
    background-color: c.$secondaryBackgroundColor;
    border: 1px solid c.$borderColor;
  }
}

.password_link {
  color: c.$borderColor;
  cursor: pointer;
  margin-bottom: 30px;
}
